.link {
  display: block;
  text-align: left;
  margin: 2px auto;
  padding-left: 10px;
  max-width: 450px;
  max-height: fit-content;
  font-size: 12px;
  font-weight: 580;
  font-family: 'Public Sans', sans-serif;
  text-align: left;
  line-height: 1.5;
  color: #2a292c;
}

.github-link,.netlify-link {
  text-decoration: none;
  color: #1776dc;
}

.linkedin-link {
  text-decoration: none;
  color: #2a292c;
}

.github-link:hover,.netlify-link:hover{
  text-decoration: underline;
  color: #1776dc;
  opacity: 0.9;
  cursor: pointer;
}

.linkedin-link:hover {
  text-decoration: underline;
  color:#2a292c;
  opacity: 0.9;
  cursor: pointer;
}
