.link {
  display: block;
  text-align: left;
  margin: 2px auto;
  padding-left: 10px;
  max-width: 440px;
  max-height: fit-content;
  font-size: 12px;
  font-weight: 580;
  font-family: 'Public Sans', sans-serif;
  text-align: center;
  line-height: 1.5;
  color: #2a292c;
}

.linkedin-link,.github-link,.netlify-link {
  text-decoration: none;
  font-weight: 600;
  color:#2a292c;
}

.linkedin-link:hover,.github-link:hover,.netlify-link:hover{
  text-decoration: underline;
  color: #2a292c;
  opacity: 0.9;
  cursor: pointer;
}
