p a {
  font-size: 10px;
  font-family: 'Public Sans', sans-serif;
  text-align: left;
  line-height: 1;
  color: #464141;
}

.link {
  display: block;
  text-align: left;
  margin: 2px auto;
  padding-left: 10px;
  max-width: 450px;
  max-height: fit-content;
}

.github-link {
  text-decoration: none;
  color: #1776dc;
}

.linkedin-link {
  text-decoration: none;
  color: #464141;
}

.github-link:hover{
  text-decoration: underline;
  color: #1776dc;
  opacity: 0.9;
  cursor: pointer;
}

.linkedin-link:hover {
  text-decoration: underline;
  color: #464141;
  opacity: 0.9;
  cursor: pointer;
}
