h5, p {
  font-family: 'Public Sans', sans-serif;
  text-align: left;
  line-height: 1.2;
  color: #464141;
}

canvas {
  position:relative;
  margin-top:20px;
  padding: 0;
  height:50px; 
  width: 50px;
}
  
.local-temperature {
   margin-left: 18px;
   margin-right:0;
   font-size: 60px;
   font-weight: 400px;
}
  
.units{
   margin-right:0;
   font-size: 14px;
   position: relative;
   top: -34px;
   color: #464141;
   cursor: default;
} 

a:hover{
   text-decoration: none;
}

.additional-info{
   margin-top: 10px;
   font-weight: 400;
   font-size: 14px;
   margin-left: 12px;
   line-height: 0.75;
}
    
