h5,
p {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  line-height: 1.2;
  color: #2a292c;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.wrapper{
  margin-left:2px;
}

.float-left canvas {
  margin-top: 20px;
  padding: 0;
  height: 45px;
  width: 45px;
}

.description {
  margin-top: 8px;
  margin-left: 4px;
}

.description:first-letter {
  text-transform: capitalize;
}

.local-temperature {
  margin-left: 4px;
  margin-right: 0;
  font-size: 50px;
  font-weight: 350px;
  color: #2a292c;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.units {
  margin-right: 0;
  font-size: 14px;
  position: relative;
  top: -32px;
  color: #2a292c;
  cursor: default;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

a {
  color: #1776dc;
}

a:hover {
  text-decoration: none;
}

.additional-info {
  color: #2a292c;
  margin-top: 26px;
  margin-left: 32px;
  font-weight: 400;
}

.fa-wind{
  font-weight: 800;
  margin-left: -4px;
}