.WeatherForecastPreview{
  display: block;
  margin-left: 6px;
  margin-right:2px;
  padding: 4px;
  font-family: 'Public Sans', sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 1.5;
  color: #2a292c;
}

.col-2{
  padding: 4px 12px;  
}
  
canvas {
  display: block;
  margin-top:4px;
  margin-left: 4px;
  margin-bottom:4px;
  height: 25px;
  width: 25px;
}
    