h5,
p {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  line-height: 1.2;
  color: #2a292c;
}

.wrapper{
  margin-left:6px;
}

.float-left canvas {
  margin-top: 20px;
  margin-left: 2px;
  padding: 0;
  height: 50px;
  width: 50px;
}

.description {
  margin-top: 8px;
  margin-left: 4px;
}

.description:first-letter {
  text-transform: capitalize;
}

.local-temperature {
  margin-left: 5px;
  margin-right: 0;
  font-size: 54px;
  font-weight: 350px;
  color: #2a292c;
}

.units {
  margin-right: 0;
  font-size: 14px;
  position: relative;
  top: -32px;
  color: #2a292c;
  cursor: default;
}

a {
  color: #1776dc;
}

a:hover {
  text-decoration: none;
}

.additional-info {
  color: #2a292c;
  margin-top: 34px;
  margin-left: 34px;
  font-weight: 400;
  font-size: 14px;
}

.fa-wind{
  font-weight: 800;
  margin-left: -4px;
}