h1,
h3 {
  margin-top: 4px;
  margin-left: 12px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  color:#464141;
}

h1 {
  font-size: 28px;
}
    
.Weather {
  margin: 30px auto;
  margin-bottom: 2px;
  padding: 18px;
  max-width: 450px;
  max-height: fit-content;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  background-image: linear-gradient(180deg, #ee9ca7 0%, #ffdde1 100%);
  box-shadow: 0px 12px 12px 0px rgba(255, 255, 255, 0.993);
}

.searchengine {
  margin-top: 4px;
  margin-bottom: 4px;
  outline: none;
  padding: 4px 10px;
  border: 2.5px solid #6c6e75;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
  margin-top: 4px;
  margin-left: 12px;
  margin-bottom: 4px;
  padding: 5px 16px;
  border-radius: 16px;
  opacity: 0.9;
  transition: all 200ms ease;
}
  
.btn-warning {
  margin-top: 4px;
  margin-left:-2px;
  margin-bottom: 4px;
  padding: 5px 16px;
  border-radius: 16px;
  opacity: 0.9;
  transition: all 200ms ease;
}  

.innerContainer {
  margin: 10px;
  padding: 6px;
  max-width: 450px;
  max-height: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  background-image: linear-gradient(360deg, #ee9ca7 0%, #ffdde1 100%);
  box-shadow: 0px 5px 5px 0px rgba(150, 93, 93, 0.3);
}

