.WeatherForecastPreview{
  display: block;
  margin-left: 2px;
  padding: 2px;
  font-family: 'Public Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
  color: #464141;
}
  
canvas {
  display: block;
  margin-top:4px;
  margin-left: 2px;
  margin-bottom:4px;  
  height: 25px;
  width: 25px;
}
    